/* Custom styles go here if needed */

/* Colours for the app: */
:root {
    /* interface main colours */
    --green: #0ca444;
    --pink: #faa4f6;
    --purple: #9a5b93;
    --yellow: #f6ea24;
    --lightgreen: #94CD31;
    /* component colours */
    --hand-green: #0ca444;
    --navbar-blue: #929cf8;
    --light-blue: #a2b3da;
    /* button colours */
    --button-default: #64558f;
    --button-hover: #4e4370;
    --button-disabled: #d4cfe2;
    --button-active: #383050;
    --button-loading: #9b8fbc;
    /* other colours */
    --purple-shadow: #70426b;
}
/* #0ca444 - green for the loading page*/
/* #0ca444 - green for the hand on the home page*/
/* #faa4f6 - pink for the Input page */
/* #9a5b93 - purple for the result page*/
/* #f6ea24 - yellow background for the Home page*/

/* #64558f - purple for the main button*/
/* #929cf8 - blue for the navbar*/
/* #a2b3da - light blue for the footer*/